@font-face {
    font-family: 'NorseBold';
    src: url(assets/norse-font/Norsebold.otf);
}

html {
    height: 100vh;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
    
}

#left_column {
    display: flex;
    flex-direction: column;
    background-image: url(assets/background-image.jpg);
    background-size: cover;
    justify-content: space-between;
    align-items: center;
}

#right_column {
    display: flex;
    flex-direction: column;
    
    
}

#logo_text {
    font-family: 'NorseBold', sans-serif;
    font-size: 100px;
    color: white;
}

#logo {
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0, 0.6);
    margin-top: 20vh;
    padding: 0 150px 0 150px
}

#logo_img {
    height: 150px;
    width: auto;
}

#image_creds {
    color: white;
    font-family: 'Inter', sans-serif;
}

a {
    color: white;
}

.text {
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.form_label {
    color: rgb(87, 80, 80);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500
}

#form_button {
    background-color: #596D48;
    color: white;
    font-family: 'Inter', sans-serif;
    border: 0px;
    border-radius: 5px;
    width: 180px;
    height: 37px;
    font-weight: 600;
}

#footer_text {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

#log_in_link {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #596D48;
    text-decoration: none;
    font-weight: 680
}

#form_pretext {
    background-color: rgb(250, 250, 250);
    padding-top: 180px;
    padding-right: 200px;
    padding-left: 40px;
    padding-bottom: 50px;
}

#form_header {
    padding-left: 40px;
}

#form_inputs {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 16px;
}

.form_row {
    display: flex;
    gap: 50px;
}

.form_element {
    display: flex;
    flex-direction: column;
}

